# Ensure build scripts are executable on Unix systems
build.sh text eol=lf executable
*.sh text eol=lf executable

# Windows batch files
*.bat text eol=crlf

# Lua files
*.lua text eol=lf

# Rust files
*.rs text eol=lf
*.toml text eol=lf

# Vim files
*.vim text eol=lf

# Encode lf for unix
* text=auto eol=lf